extends ../../layouts/default.pug
include ../../mixins/title.pug
include ../../mixins/alert.pug
block main
  +alert-success(5000)
  +app-title("Quản lý đơn hàng")
  div(
    class= "shadow-lg p-2 bg-white rounded"
    products-table
  )
    .products-actions
      .createProduct.products-actions-detail 
        i.fa-regular.fa-square-plus
        p.title Tạo sản phẩm mới 
      .printProduct.products-actions-detail  
        i.fa-solid.fa-print
        p.title In dữ liệu
      .exportExcel.products-actions-detail  
        i.fa-solid.fa-copy
        p.title Copy dữ liệu
      .removeAll.products-actions-detail  
        i.fa-solid.fa-trash
        p.title Xóa tất cả
    .products-search 
      .products-search_button
        label 
          | Tìm kiếm 
        input(
          class="products-search__input"
          )
    .products-table
      table.table.table-hover
        thead.table-active
          tr
            th(scope='col') STT
            th(scope='col') Tên khách hàng
            th(scope='col') Đơn hàng
            th(scope='col') Số lượng
            th(scope='col') Đia chỉ
            th(scope='col') Tổng tiền
            th(scope='col') Tính năng
        tbody
          each order,index in orders
            tr  
              th(scope='row') #{index+1}
              td #{order.userInfo.fullName}
              td 
                each product in order.products 
                  | #{product.title}
                  br
              td 
                each product in order.products
                  | #{product.quantity}
                  br
              td #{order.userInfo.address}
              td #{order.totalMoney.toLocaleString()}
              td 
                button(
                  class="btn-remove"
                ) 
                  i.fa-solid.fa-trash
                button(
                  class="btn-edit"
                ) 
                  i.fa-solid.fa-pen-to-square

          
